header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg-orig.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__icon {
  display: flex;
}

.header__footer {
  margin-top: auto;
  background-image: url('../images/footer.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 411px;
  height: 112px;
}

.header__bottom {
  padding: 0 20px 40px;
}
