a {
  color: #1b2129;
  text-decoration: none;
}

.page {
  font-style: 'Manrope' bold;
  font-weight: 700;
  line-height: 48px;
  font-size: 48px;

  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}
